@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Gasoek+One&family=Jua&family=Noto+Sans+KR:wght@100..900&display=swap');
.body-bg {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    overflow-y: auto;
    margin: 0;
}

.chat-room-bg {
    width: auto;
    background-color: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.chat-scroll-container-bg{
    display: inline;
}

.situation-bc{
    /* width: 150px; */
    height: 50px;
    font-weight: 200;
    font-family: "Jua", sans-serif;
    font-size: 1.1rem;
}

.chat-header-bg {
    margin-top: -22vh;
    background-color: #f9f9f9;
    padding-top: 15px;
    text-align: right;
    margin-right: 100px;
    font-size: 20px;
    color: #333;
    font-weight: bold;
    margin-left: 240px
}

.header-text-bg{
    margin-right: -20px;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: "Jua", sans-serif;
    color: #c25252;
}

.charaImg-message-bg {
    width: 3.4vh;
    height: 3.4vh;
    border-radius: 50px;
}

.chat-messages-balChat {
    margin-top: 5vh;
    flex: 1;
    padding: 15px;
    padding-bottom: 10vh; 
    background-color: #f9f9f9;
    scroll-padding-bottom: 10vh;
}

.chat-messages-bg {
    flex: 1;
    padding: 15px;
    padding-bottom: 10vh;
    background-color: #f9f9f9;
    scroll-padding-bottom: 10vh;
}


.message-bg {
    margin-top: 5px;
    margin-left: 350px;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.message-bg.user {
    align-items: flex-end;
}

.message-bg.ai {
    align-items: flex-start;
}

.message-bubble-bg {
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 15px;
    max-width: 70%;
    word-wrap: break-word;
    transform: translateY(10px); 
    animation: fadeInUp 0.5s forwards;
}

.message-bubble-bg.user {
    background-color: #f5c0c0;
    color: #333;
    text-align: right;
}

.message-bubble-bg.ai {
    background-color: #ffec99;
    color: #333;
    text-align: left;
}

.message-img-bg {
    text-align: center;
}

.message-img-bg img {
    width: 18vh;
    height: auto;
    border-radius: 10px;
    display: inline-block;
}



.chat-charInfo-bg {
    margin-left: 300px;
    display: flex;
    align-items: center;
    gap: 2vh;
    background-color: #f9f9f9;
    padding: 1vh;
    border-radius: 8px;
}

.contextLetter-bg {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.contextLetter-bg:hover {
    animation: rotate-alternate 0.7s infinite alternate;
}

@keyframes rotate-alternate {
    0% {
        transform: rotate(18deg);
    }
    100% {
        transform: rotate(-18deg);
    }
}


.playButton-bg {
    width: 2.0vh;
}

.chat-charInfo-bg p {
    margin: 0;
    font-size: 1rem;
    line-height: 3.4vh;
}


.chat-input-bg {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    background-color: #ddd;
    padding: 10px 1vh;
    left: 240px;
    bottom: 0;
    width: calc(100% - 240px);
}


.chat-input-bg input {
    flex: 1;
    padding: 10px;
    padding-left: 30px;
    border: 1px solid #ccc;
    border-radius: 50px;
    height: 3vh;
    margin-left: 50px;
    width: auto;
    /* 가로 크기 조정 가능 */
}

.chat-input-bg button {
    width: 11vh;
    height: 5vh;
    margin-left: 30px;
    padding: 10px 15px;
    background-color: #ffb3b3;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.chat-input-bg button:hover {
    background-color: #f78787;
}

.voice-button-bg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-voiceButton-bg {
    margin-left: 20px;
    margin-right: 20px;
    width: 5vh;
    height: 5vh;
    background-color: #f9f9f9;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-voiceButton-bg img {
    position: absolute;
    width: 2.5vh;
    height: 2.5vh;
}

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content-bg {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 700px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}

.modal-title-bg {
    font-family: "Jua", sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
    color: #333;
    margin-bottom: 20px;
}

.modal-image-bg {
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
}

.modal-input-container-bg {
    display: flex;
    align-items: center; 
    gap: 20px;
}

.modal-description-bg {
    flex-grow: 1;
    font-size: 1.4rem;
    color: #555;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
}

.modal-buttons-bg {
    display: flex;
    justify-content: right;
    gap: 30px;
    margin-right: 10px;
}

.modal-button-bg {
    font-family: "Jua", sans-serif;
    font-weight: 100;
    padding: 10px 25px;
    background-color: #ffb3b3;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-button-bg:hover {
    background-color: #f78787;;
}

.modal-button-bg:active {
    background-color: #f78787;;
}


.modal-input-container-bg textarea {
    font-family: "Jua", sans-serif;
    font-weight: 300;
    width: 100%;
    padding: 10px;
    font-size: 1.25rem;
    color: #555;
    line-height: 1.5;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
    margin-bottom: 20px;
    box-sizing: border-box;
    height: 340px;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}


.modal-description-input-bg:focus {
    border-color: #f78787;;
    outline: none;
}
