@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&family=Yeon+Sung&display=swap');
.body-chatRoom {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  overflow-y: auto;
  margin:0;
}

.chat-room-chatRoom {
  width: auto;
  background-color: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chatRoom-header-wrapper {
  position: fixed;
  height: 120px;
  top: 0; /* 화면의 상단에 위치 */
  left: 240px; /* 왼쪽에 위치 */
  right: 0; /* 오른쪽에 위치 */
  background-color: #fff; /* 배경색 설정 */
  z-index: 1000; /* 다른 요소들 위에 표시되도록 z-index 설정 */
  padding: 10px; /* 여백 설정 */
}

.chat-header-chatRoom {
  position: relative;
  background-color: #f9f9f9;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #333;
  font-weight: bold;
}

.charaImg-message-chatRoom {
  width: 3.4vh;
  height: 3.4vh;
  border-radius: 50px;
}

.chat-header-chatRoom button {
  background-color: #f9f9f9;
  border: none;
}

.chat-header-chatRoom p {
  margin: 10px;
}

.chat-chara-description-chatRoom {
  width: 50vh;
  height: auto;
  font-size: 15px;
  font-weight: normal;
  background-color: #f9f9f9;
}

.charaImg-wrapper-chatRoom {
  position: relative; 
  margin: 0 10px 0 10px;
  width: 100px; 
  height: 100px; 
  border-radius: 35%;
  overflow: hidden; /* 자식 요소가 원을 넘지 않도록 설정 */
}

.charaImg-container-chatRoom {
  position: absolute; /* 절대 위치 지정 */
  width: 50%; /* 각 사분면의 너비 */
  height: 50%; /* 각 사분면의 높이 */
  display: flex; /* Flexbox 사용 */
  justify-content: center; /* 중앙 정렬 */
  align-items: center; /* 중앙 정렬 */
}

.charaImg-container-chatRoom:nth-child(1) {
  top: 0; /* 첫 번째 사분면 (왼쪽 위) */
  left: 0;
}

.charaImg-container-chatRoom:nth-child(2) {
  top: 0; /* 두 번째 사분면 (오른쪽 위) */
  right: 0;
}

.charaImg-container-chatRoom:nth-child(3) {
  bottom: 0; /* 세 번째 사분면 (왼쪽 아래) */
  left: 0;
}

.charaImg-container-chatRoom:nth-child(4) {
  bottom: 0; /* 네 번째 사분면 (오른쪽 아래) */
  right: 0;
}

/* 한 명의 캐릭터가 있을 때 전체 영역을 차지하도록 설정 */
.charaImg-container-chatRoom.full-size {
  width: 100%; /* 전체 너비 */
  height: 100%; /* 전체 높이 */
  top: 0; /* 상단 */
  left: 0; /* 좌측 */
}

.charaImg-chatRoom {
  width: 100%;
  height: 100%;
}

.chatroom-description-container{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.chatRoom-tools{
  display: flex;
  justify-content: right;
  width: 100px;
  height: 50px;
  padding-right: 10px;
}

.chatRoom-search-icon{
  padding: 6px;
  cursor: pointer;
}

.chatRoom-member-toggle{
  width: 40px;
  cursor: pointer;
}

.members-list-container {
  position: fixed;
  background-color: white;
  width: 200px;
  max-height: 250px;
  top: 70px;
  right: 20px;

  border: 1px solid rgb(180, 180, 180);
  border-radius: 5px;

  overflow-y: auto; /* 스크롤 가능 */
  transition: opacity 1s ease, transform 1s ease; /* 애니메이션 효과 */
  opacity: 0; /* 초기 상태에서 투명하게 설정 */
  transform: translateY(0); /* 위로 이동 */
  pointer-events: none; /* 비활성화 상태에서 클릭 방지 */
}

.members-list-container.visible {
  opacity: 1; /* 보이게 설정 */
  transform: translateY(70px); /* 원래 위치로 이동 */
  pointer-events: auto; /* 활성화 상태에서 클릭 가능 */
}

.members-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.member-list-box{
  display: flex;
  align-items: center;
  height: 55px;
}

.member-profileImg{
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 40%;
  margin: 5px 5px 0px 5px;
}

.member-name {
  width: 160px;
  padding-right: 10px;
  text-align: right;
  font-size: 18px;
}

.chat-messages-chatRoom {
  position: relative;
  top: 140px;
  height: 700px;
  padding: 15px;
  padding-bottom: 10vh; 
  background-color: #f9f9f9;
  scroll-padding-bottom: 10vh;
  padding-left: 50px;
  padding-right: 50px;
}


.message-chatRoom {
  margin-top: 5px;
  margin-left: 300px;
  margin-right: 2%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.message-chatRoom.user {
  align-items: flex-end;
}

.message-chatRoom.ai {
  align-items: flex-start;
}

.message-bubble-chatRoom {
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 15px;
  max-width: 60%;
  word-wrap: break-word;
  opacity: 0; 
  transform: translateY(10px); 
  animation: fadeInUp 0.5s forwards;
}

.message-bubble-chatRoom.user {
  background-color: #f5c0c0;
  color: #333;
  text-align: left;
}

.message-bubble-chatRoom.ai {
  /* background-color: #ffec99; */
  color: #333;
  text-align: left;
}

.char1 {
  background-color: #e7ddff;
}

.char2 {
  background-color: #ffdcc8;
}

.char3 {
  background-color: #bebebe;
}

.char4 {
  background-color: #ceddff;
}

.char5 {
  background-color: #d1ffde;
}

.char6 {
  background-color: #ffefaa;
}


.message-bubble-chatRoom.user.balance-situation {
  background-color: #b6cdff;
  color: black;
  font-size: 1.2rem;
  font-family: "Noto Serif KR", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  animation: sparkleBackground 15s infinite, fadeInUp 0.5s forwards; /* Apply the sparkling animation */
}

/* Define the sparkle animation */
@keyframes sparkleBackground {
  0% {
    box-shadow: 0 0 5px 1px rgba(150, 183, 255, 0.8), 0 0 5px 3px rgba(150, 183, 255, 0.6);
  }
  25% {
    box-shadow: 0 0 15px 2.5px rgba(150, 183, 255, 1), 0 0 15px 7px rgba(150, 183, 255, 0.8);
  }
  50% {
    box-shadow: 0 0 10px 1.5px rgba(150, 183, 255, 0.6), 0 0 10px 5px rgba(150, 183, 255, 0.4);
  }
  75% {
    box-shadow: 0 0 15px 3px rgba(150, 183, 255, 1), 0 0 15px 9px rgba(150, 183, 255, 0.8);
  }
  100% {
    box-shadow: 0 0 5px 1.5px rgba(150, 183, 255, 0.8), 0 0 5px 2px rgba(150, 183, 255, 0.6);
  }
}



@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.message-img-chatRoom {
  text-align: center;
}

.message-img-chatRoom img {
  width: 18vh;
  height: auto;
  border-radius: 10px;
  display: inline-block; 
}

.chat-charInfo-chatRoom {
  margin-left: 240px;
  display: flex;
  align-items: center;
  gap: 2vh;
  background-color: #f9f9f9;
  padding: 1vh;
  border-radius: 8px;
}

.playButton-chatRoom{
  width: 2.0vh;
  cursor: pointer;
}

.message-time-chatRoom{
  color: #a1a1a1;
  font-size: 1rem;
  margin-left: 400px;
}

.chat-charInfo-chatRoom p {
  margin: 0;
  font-size: 1rem;
  line-height: 3.4vh;
}


.chat-input-chatRoom {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  background-color: #ddd;
  padding: 10px 1vh;
  left: 240px; 
  bottom: 0;
  width: calc(100% - 240px);
}


.chat-input-chatRoom input {
  flex: 1;
  padding: 10px;
  padding-left: 30px;
  border: 1px solid #ccc;
  border-radius: 50px;
  height: 3vh;
  margin-left: 50px;
  width: auto;
  height: 5vh;
}

.chat-input-chatRoom button {
  width: 11vh;
  height: 5vh;
  margin-left: 30px;
  padding: 10px 15px;
  background-color: #ffb3b3;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.chat-input-chatRoom button:hover {
  background-color: #f78787;
}

.voice-button-chatRoom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-voiceButton-chatRoom {
  margin-left: 20px;
  margin-right: 20px;
  width: 5vh;
  height: 5vh;
  background-color: #f9f9f9;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-voiceButton-chatRoom img {
  position: absolute;
  width: 2.5vh;
  height: 2.5vh;
}