.body-chatRoom {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  overflow-y: auto;
  margin:0;
}

.chat-room-chatRoom {
  width: auto;
  background-color: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chatRoom-header-wrapper {
  margin-left: 240px;
}

.chat-header-chatRoom {
  position: relative;
  background-color: #f9f9f9;
  padding-top: 15px;
  text-align: center;
  font-size: 20px;
  color: #333;
  font-weight: bold;
}

.charaImg-message-chatRoom {
  width: 3.4vh;
  height: 3.4vh;
  border-radius: 50px;
}

.chat-header-chatRoom button {
  background-color: #f9f9f9;
  border: none;
}

.chat-header-chatRoom p {
  font-size: 1.1rem;
  margin: 10px;
}

.chat-chara-description-chatRoom {
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-left: 42.5%;
  width: 50vh;
  height: auto;
  background-color: #f9f9f9;
}

.charaImg-wrapper-chatRoom {
  position: relative; /* 자식 요소의 절대 위치 지정을 위해 relative 설정 */
  left: 31vw;
  width: 100px; /* 원하는 원의 크기 */
  height: 100px; /* 원하는 원의 크기 */
  border-radius: 35%;
  overflow: hidden; /* 자식 요소가 원을 넘지 않도록 설정 */
}

.charaImg-container-chatRoom {
  position: absolute; /* 절대 위치 지정 */
  width: 50%; /* 각 사분면의 너비 */
  height: 50%; /* 각 사분면의 높이 */
  display: flex; /* Flexbox 사용 */
  justify-content: center; /* 중앙 정렬 */
  align-items: center; /* 중앙 정렬 */
}

.charaImg-container-chatRoom:nth-child(1) {
  top: 0; /* 첫 번째 사분면 (왼쪽 위) */
  left: 0;
}

.charaImg-container-chatRoom:nth-child(2) {
  top: 0; /* 두 번째 사분면 (오른쪽 위) */
  right: 0;
}

.charaImg-container-chatRoom:nth-child(3) {
  bottom: 0; /* 세 번째 사분면 (왼쪽 아래) */
  left: 0;
}

.charaImg-container-chatRoom:nth-child(4) {
  bottom: 0; /* 네 번째 사분면 (오른쪽 아래) */
  right: 0;
}

/* 한 명의 캐릭터가 있을 때 전체 영역을 차지하도록 설정 */
.charaImg-container-chatRoom.full-size {
  width: 100%; /* 전체 너비 */
  height: 100%; /* 전체 높이 */
  top: 0; /* 상단 */
  left: 0; /* 좌측 */
}

.charaImg-chatRoom {
  width: 100%;
  height: 100%;
}

.chat-messages-chatRoom {
  flex: 1;
  padding: 15px;
  padding-bottom: 10vh; 
  background-color: #f9f9f9;
  scroll-padding-bottom: 10vh;
}


.message-chatRoom {
  margin-top: 5px;
  margin-left: 350px;
  margin-right: 2%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.message-chatRoom.user {
  align-items: flex-end;
}

.message-chatRoom.ai {
  align-items: flex-start;
}

.message-bubble-chatRoom {
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 15px;
  max-width: 70%;
  word-wrap: break-word;
}

.message-bubble-chatRoom.user {
  background-color: #f5c0c0;
  color: #333;
  text-align: right;
}

.message-bubble-chatRoom.ai {
  background-color: #ffec99;
  color: #333;
  text-align: left;
}

.message-img-chatRoom {
  text-align: center;
}

.message-img-chatRoom img {
  width: 18vh;
  height: auto;
  border-radius: 10px;
  display: inline-block; 
}

.chat-charInfo-chatRoom {
  margin-left: 300px;
  display: flex;
  align-items: center;
  gap: 2vh;
  background-color: #f9f9f9;
  padding: 1vh;
  border-radius: 8px;
}

.playButton-chatRoom{
  width: 2.0vh;
}

.chat-charInfo-chatRoom p {
  margin: 0;
  font-size: 1rem;
  line-height: 3.4vh;
}


.chat-input-chatRoom {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  background-color: #ddd;
  padding: 10px 1vh;
  left: 240px; 
  bottom: 0;
  width: calc(100% - 240px);
}


.chat-input-chatRoom input {
  flex: 1;
  padding: 10px;
  padding-left: 30px;
  border: 1px solid #ccc;
  border-radius: 50px;
  height: 3vh;
  margin-left: 50px;
  width: auto;
  height: 5vh;
}

.chat-input-chatRoom button {
  width: 11vh;
  height: 5vh;
  margin-left: 30px;
  padding: 10px 15px;
  background-color: #ffb3b3;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.chat-input-chatRoom button:hover {
  background-color: #f78787;
}

.voice-button-chatRoom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-voiceButton-chatRoom {
  margin-left: 20px;
  margin-right: 20px;
  width: 5vh;
  height: 5vh;
  background-color: #f9f9f9;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-voiceButton-chatRoom img {
  position: absolute;
  width: 2.5vh;
  height: 2.5vh;
}